.ge-logo,
.cashflows-logo,
.tribal-logo,
.lmn-logo,
.bluesquare-logo,
.sapient-logo,
.guardian-logo,
.ogilvy-logo,
.bauer-logo,
.worldfirst-logo {
  width: 40px;
}

.qld-logo {
  width: 50px;
}

.jam-logo {
  width: 70px;
}

.cambridge-assessment-logo {
  width: 130px;
}

.photobox-logo {
  width: 110px;
}

.boilerjuice-logo {
  width: 210px;
}

.tyrrells-logo {
  width: 100px;
}
