@import "reset.css";
@import "text.css";

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
}

.top {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 44px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.goto {
  margin: 0;
  padding: 12px;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}

.hidden {
  display: none;
}
